<div class="wrapper">
    <div class="page-header section-dark"
        style="background-image: url('https://hdwallsource.com/img/2015/6/snowy-forest-wallpaper-45946-47227-hd-wallpapers.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Alexandra Milevich</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Full-Stack Software Developer</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>

    <div class="main">
        <app-profile></app-profile>
        <app-certs></app-certs>
    </div>
</div>