<div class="wrapper">
    <div class="page-header section-dark"
        style="background-image: url('./assets/img/landing.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Alexandra Milevich</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Full-Stack Software Developer</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>

    <div class="main">
        <app-certs></app-certs>
    </div>
</div>